{% extends "base.html" %}
{% block nav %}
  <ul class="navbar-nav">
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acción
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item active" href="{% url "template-create" %}">Subir plantilla</a>
        </div>
      </li>
  </ul>
{% endblock nav %}
{% block maincontent %}
    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
        <a class='btn' href="/">Cancelar</a>
    </form>
{% endblock maincontent%}