{% extends 'base.html' %}

{% load static %}
{% block nav %}

  <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acción
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url "template-create" %}">Subir plantilla</a>
        </div>
      </li>
  </ul>
  
{% endblock nav %}
{% block section %}
    <h2>Plantillas</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
    <div class="card-columns">
        {% for p in object_list.all %}  
        <div class="card">
          <a href="{{p.id}}/detail/"><img class="card-img-top" src="{{p.template.url}}" alt="{{p.context}}"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="{{p.id}}/detail/">{{ p.name }}</a></h5>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock maincontent %}